* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Common CSS */
.containers {
  width: 80%;
  margin: 0 auto;
  height: 25rem;
}

.zilla-class {
  font-family: "Zilla Slab", sans-serif;
}
.text-content {
  font-size: 14px;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 2;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(94, 92, 92, 0.8);
}
nav ul {
  list-style: none;
}
.nav-logo {
  position: absolute;
  left: 12%;
  padding: 1rem 0;
  cursor: pointer;
}
.right-nav {
  position: absolute;
  right: 12%;
  padding: 1rem 0;
}
.right-nav li {
  display: inline;
  font-weight: 500;
  color: #393536;
  cursor: pointer;
  padding-left: 1rem;
}
.right-nav li .tuitt-button,
#bg-image .apply-button {
  font: inherit;
  font-size: 18px;
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: #c2195b;
  border: none;
  border-radius: 816px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(94, 92, 92, 0.6);
}
.right-nav li:hover {
  text-decoration: underline;
  color: rgb(50, 171, 241);
}
.right-nav li .tuitt-button:hover,
#bg-image .apply-button:hover {
  background-color: #dd0b5c;
}

/* section hero */

#bg-image {
  background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
  background-position: 40% 55%;
  background-size: cover;
  position: relative;
}
#bg-image .front-bg {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
#bg-image .container {
  width: 18rem;
  color: white;
  position: absolute;
  top: 15%;
  right: 10%;
}

#bg-image .title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
}

#bg-image .subtitle {
  margin-top: 2rem;
  font-weight: 200;
  text-align: right;
}

#bg-image .apply-button {
  margin-top: 1rem;
  display: block;
  position: absolute;
  right: 0%;
  font-size: 14px;
  padding: 0.25rem 2rem;
  
}

/* what is a developer program */
.intro .title-2 {
  padding-top: 7rem;
  text-align: center;
}

.intro .intro-description {
  padding: 3rem 3rem;
  text-align: justify;
}
/* pre footer  */
.pre-footer {
  background-color: #f7fbfb;
  position: relative;
}

.pre-footer .title-2 {
  padding-top: 5rem;
  text-align: center;
}

.pre-footer .prefooter-description {
  padding: 3rem 3rem;
  text-align: center;
}

.pre-footer .book-button {
  font: inherit;
  margin: 1rem auto;
  display: block;
  font-size: 14px;
  padding: 0.25rem 2rem;
  border: none;
  border-radius: 12px;
  background-color: #336589;
  color: white;
  cursor: pointer;
  align-items: center;
}

.pre-footer .book-button:hover {
  background-color: #4d7999;
}

/* footer */
footer {
  text-align: center;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
}
